.body{
    box-sizing: border-box;
}
.booth{
    width: 400px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}
/* #liveVideo{
    text-align: center;
    border-style: solid, thick, #ddd;
} */

.header-container{
    background-color: deepskyblue;
    color: white;
    height: 80px;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.button-section{
    height: 80px;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.jumbo-tron{
    width: 80%;
    height: 50px;
    margin:auto;
}

#googleMap { 
    height: 25%;
    width:80%;
    position:absolute;
    top:30;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

#map {
    height: 300px;
    width: 400px;
    margin-top:250px;
    margin-left:400px;
}