/* #liveVideo{
    text-align: center;
    border-style: solid, thick, #ddd;
} */

/* #header{
    border-radius: 7px;
    align-content: center;
}; */

body {
    background-image: url("https://images.assetsdelivery.com/compings_v2/annagolant/annagolant1807/annagolant180700934.jpg");
    background-size: cover;
}

.container {
    font-family: 'Barlow Condensed', sans-serif;
}

.header-container {
    position: fixed;
    left: 0;
    top: 0;
    clear: both;
    background-color: deepskyblue;
    color: white;
    height: 80px;
    width: 100%;
    font-size: 36px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    margin-bottom: 10px;
}

.displayEmail {
    font-size: 20px;
}

#signOut {
    font-size: 15px;
    margin: 15px auto;
}

form {
    color: black;
    float: right;
    text-align: right;
}

.button-section {
    height: 80px;
    font-size: 36px;
    text-align: center;
    margin: 100px auto auto auto;
    padding: 10px;
    margin-bottom: 20px;
}

.welcomeScreen{
    margin: 100px auto auto auto;
}

.signIn{
    margin: 100px auto auto auto;
}

.button-section img {
    /* width: 60px; */
    height: 80px;
}

.jumbo-tron {
    width: 80%;
    height: 100px;
    margin: auto;
}

#map {
    height: 60%;
    width: 80%;
    position: absolute;
    top: 30;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

#options-cards {
    color: aliceblue;
}

.card img {
    height: 150px;
}

#emotion-badge {
    float: center;
}